<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Connecter" connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=|DataDirectory|db_clients.mdb;"
      providerName="System.Data.OleDb" />
    <add name="ApplicationWinforms.Properties.Settings.cabinetdentaireConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\cabinetdentaire.mdb"
      providerName="System.Data.OleDb" />
    <add name="ApplicationWinforms.Properties.Settings.Reclamation_ClientConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\p\Source\Repos\Rihab-Achouri\PFA_Reclamation_client\DAL\Reclamation_Client.accdb"
      providerName="System.Data.OleDb" />
    <add name="ApplicationWinforms.Properties.Settings.Reclamation_ClientConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\pc\Source\Repos\PFA_Reclamation_client\BEL\Reclamation_Client.accdb"
      providerName="System.Data.OleDb" />
    <add name="ApplicationWinforms.Properties.Settings.Reclamation_ClientConnectionString2"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Reclamation_Client.accdb"
      providerName="System.Data.OleDb" />
    <add name="ApplicationWinforms.Properties.Settings.ReclamationConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Reclamation.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>